<footer>
    <div class="mt-4 p-5 d-flex flex-wrap text-center justify-content-center">
        <a class="px-3 animate__animated animate__fadeInUp animate__slower animate__delay-1s" href="mailto:mpgee@usc.edu">
            <i class="fa-solid fa-envelope fa-xl pink-hover"></i>
        </a>
        <a class="px-3 animate__animated animate__fadeInUp animate__slower animate__delay-1s" href="https://github.com/mpg05883">
            <i class="fa-brands fa-github fa-xl pink-hover"></i>
        </a>
        <a class="px-3 animate__animated animate__fadeInUp animate__slower animate__delay-1s" href="https://www.linkedin.com/in/michael-gee-583ab5225/">
            <i class="fa-brands fa-linkedin fa-xl pink-hover"></i>
        </a>
    </div>
</footer>