/* define font families */
@font-face {
    font-family: 'SourceSans3-Bold';
    src: url(../fonts/SourceSans3-Bold.ttf);
}

@font-face {
    font-family: 'SourceSans3-SemiBold';
    src: url(../fonts/SourceSans3-SemiBold.ttf);
}

@font-face {
    font-family: 'SourceSans3-Medium';
    src: url(../fonts/SourceSans3-Medium.ttf);
}

@font-face {
    font-family: 'SourceSans3-Regular';
    src: url(../fonts/SourceSans3-Regular.ttf);
}

@font-face {
    font-family: 'SourceSans3-Light';
    src: url(../fonts/SourceSans3-Light.ttf);
}

/* reset box model to border-box for ALL elements */
* {
    margin: 0; /* top&bottom left&right */
    padding: 0; /* set padding to 0 so content takes up entirety of each box */
    box-sizing: border-box; /* include border thickness and padding in box dimensions */
    font-family: 'SourceSans3-Regular', sans-serif;
}

/*
color palette:
dark teal - #1b6f73
mid teal - #015C63
light teal - #017075
dark salmon - #F48D79
mid salmon - #FDA898
light salmon - #FFC0B4
*/


header, footer {
    background-color: #1b6f73;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: #015C63;
}

h1 {
    font-family: 'SourceSans3-Semibold', sans-serif;
}

h2 {
    font-family: 'SourceSans3-Medium', sans-serif;
}

.hover-enlarge {
    transition: transform 0.4s ease; 
}

.hover-enlarge:hover {
    transform: scale(1.075);
}

i, .checked {
    color: #FDA898;
}

.pink-hover:hover {
    color: #F48D79;
}

#review-btn {
    background-color: #FDA898;
}

#review-btn:hover {
    background-color: #F48D79;
}

/* different color borders for debugging */
.red-border {
    border: 2px solid red;
}

.blue-border {
    border: 2px solid blue;
}

.green-border {
    border: 2px solid green;
}